<?xml version="1.0"?>
<robot name="ur5_with_robotiq_2f_85" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Include UR5 xacro -->
    <xacro:include filename="$(find ur_description)/urdf/ur5.xacro" />

    <!-- Include Robotiq 2F-85 xacro -->
    <xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model.xacro" />

    <joint name="wrist_to_gripper" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="wrist_3_link"/>  <!-- UR5的末端链接 -->
        <child link="robotiq_arg2f_base_link"/>  <!-- Robotiq的根链接 -->
    </joint>

</robot>